#mathboard {
    background-color: #1a5bbf;
    color: white;
    cursor: pointer;
}

.navbar {
    margin-bottom: 0px;
}

.coloursquare {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#c {
    border: 1px solid black;
}

.navbar {
    border-radius: 0px;
}

#sidebar {
    z-index: 1000;
    background-color: #222;
    display: inline-block;
    position: fixed;
    height: 100%;
    width: 225px;
    color: white;
    overflow-y: auto;
    padding-bottom: 10%;
    user-select: none;
}

#sidebar.toggle {
    left: -200px;
    padding-left: 0;
    width: 0;
}

#waSearch {
    z-index: 500;
    position: absolute;
    left: 80px;
    bottom: 15px;
    width: calc(100% - 120px);
}

#waSearch.toggle {
    visibility: hidden;
}

#waIcon {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    z-index: 500;
}

.side {
    padding-left: 5px;
    padding-bottom: 50px;
}

.side li {
    color: #FFFFFF;    
    line-height: 40px;
    display: block;
    text-decoration: none;  
}